
#mapContainer {
  width: 100%;
  height: 600px;
  display: inline-block;
}

#sidebar {
  display: inline-block;
  position: absolute;
  padding: 15px;
  background: #cdcdcd;
  width: 50%;
  height: 470px;
}

.navbar-brand {
  background-image: url('../img/logo.png');
  width: 150px;
  background-size: cover;
  background-position-y: 0px;
  background-position-x: 0px;
}

.custom-h2 {
  margin: 0 0 25px 0;
}

h1, {
  font-family: 'Russo One', sans-serif;
}

h2, {
  font-family: 'Anton', sans-serif;
}


.img {
    border: 5px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
    height:400px;
    margin:0 3px 0 0;
  
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 20px;
    background-color: rgba(102, 102, 204, 1);
    border-width: 1px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #9e9e9e;
}

